  html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

/*style for content dividers */
 #wrapper {
  min-height:100%;
  position:relative;
 }
 #header {
  padding:0;
 }
 #content {
  padding-bottom:40px; /* Height of the footer element */
  padding-left: 25%; /*add white space around the content of pages */
  padding-right: 25%;
 }
 #footer {
  /*position styling for footer*/
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  line-height: 40px; /* Height of the footer element */

  /*text styling in footer */
  background:#000000;
  text-align: center;
  color: white;
 }

/*styling of content on pages */
  p {
    margin: auto;
    border-bottom: 25px solid white;
    font-size 1em;
 }

 h1 {
   padding-top: 20px ;
   margin: auto;
   color: #C80000;
   font-size: 2.2em;
 }

 h2 {
   padding-top: 20px ;
   margin: auto;
   color: #C80000;
   font-size: 1.5em;
 }

 h3 {
    font-size: 1.5em;
    padding: 1em 8px;
    color: white;
    background-color: #000000;
    text-align: center;
    margin: 0;
}

/*styling for quicklinks side table */
.quicklinks {
    position: absolute;
    left: 80%;
    top: 25%;
    z-index: 2;
}

th {
   border-bottom: 1px solid black;
   font-weight: bold;
   font-size: 1.2em;
}

/*styling for navbar */
#nav {
	width: 100%;
	float: right;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #323232;
	list-style-type: none; /*remove dots next to links */
}

#nav li {
	float: right; /*puts navbar in straight line */
}

/*style the text in the navbar */
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 1px solid white;
}

#nav li:first-child a {
	border-right: 1px solid white;
}

#nav li:last-child a {
	border-right: none;
}

/*change background when hovered over */
#nav li a:hover {
	color: white;
	background-color: CadetBlue
}

#hidden {
  visibility: hidden;
}
