  html{height:100%}
 body {
  margin:0;
  padding:0;
  height:100%;
  font-family:"Courier New", Courier, monospace;
 }
 #wrapper {
  min-height:100%;
  position:relative;
 }
 #header {

  padding:0;
 }
 #content {
  padding-bottom:50px; /* Height of the footer element */
  padding-left: 25%;
     
  padding-right: 25%;
 }
 #footer {
  background:black;
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
   left:0;
   text-align: center;
   color: white;
   vertical-align: middle;
 - line-height: 100px;
 + line-height: 50px; /* Height of the footer element */
  }
  p {
      
        margin: auto;
     

     
        border-bottom: 25px solid white;
     
        font-size 1em;
 
 }
 
 h1 {
     
 	padding-top: 25px ;
     
 	margin: auto;
     

     
 	color: red;
     
 	font-size: 2.2em;
 
 
 
 }
 
 h2 {
     
 	padding-top: 25px ;
     
 	margin: auto;
     

     
 	color: black;
     
 	font-size: 1.5em;
 
 
 
 }
 h3{
       font-size: 1.5em;
      padding: 1em 8px;
      color: #333;
      background-color: #069;
      margin: 0;
  
 }
 

.quicklinks{
  position: absolute;
  left: 80%;
  
  z-index: 2;
  
}
th{
   border-bottom: 1px solid black; 
   font-weight: bold;
   font-size: 1.2em;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li:first-child a {
	border-left: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
