html{
  height:100%
}
body {
  margin: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family:"Courier New", Courier, monospace;
}
#wrapper{

}
#content {
  padding-left: 5%;
  padding-right: 5%;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: DodgerBlue ;
  text-align: center;
  color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DeepSkyBlue;
    border-top: 1px solid white;
}

ul.topnav li {
    float: none;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 1px solid white;
}

u1.posts li a{
  color: black;
  font-size:1.2em;
}

h1, h2 {
    color: DarkOrange;
}

h3 {
      font-size: 1.5em;
      padding: 1em 8px;
      color: white;
      background-color: DodgerBlue ;
      text-align: center;
      margin: 0;
}

table, th, td {
    display: none;
}
