html, body {
  height:100%
  margin: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family:"Courier New", Courier, monospace;
}

/*style for content dividers */
#content {
  padding-left: 5%; /*add white space around the content of pages */
  padding-right: 5%;

}

#footer {
  /*footer location styling*/
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 50px;
  /*text styling in footer */
  background-color: DodgerBlue ;
  text-align: center;
  color: white;
}

/*styling for navbar */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DeepSkyBlue;
    border-top: 1px solid white;
}

/*style the text in the navbar */
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 1px solid white;
}

/*styling of content on pages */
h1, h2 {
    color: DarkOrange;
}

h3 {
      font-size: 1.5em;
      padding: 1em 8px;
      color: white;
      background-color: DodgerBlue ;
      text-align: center;
      margin: 0;
}

/* hide the quick links for mobile users */
table, th, td {
    display: none;
}
