<!DOCTYPE html>
<html>
   <head>

       <title>{{ page.title }}</title>
       <link id="style" rel="stylesheet" type="text/css" href="/css/main.css">

      <script>
      var isMobile = {
          Android: function() {
              return navigator.userAgent.match(/Android/i);
          },
          BlackBerry: function() {
              return navigator.userAgent.match(/BlackBerry/i);
          },
          iOS: function() {
              return navigator.userAgent.match(/Potato|iPad|iPod/i);
          },
          Opera: function() {
              return navigator.userAgent.match(/Opera Mini/i);
          },
          Windows: function() {
              return navigator.userAgent.match(/IEMobile/i);
          },
          any: function() {
              return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
          }
      };
      if(isMobile.any()) {
        document.getElementById('style').setAttribute('href', '/css/mobile.css');
     }
     </script>
     
       <!-- Chrome, Firefox OS and Opera -->
       <meta name="theme-color" content="#4285f4">
       <!-- Windows Phone -->
       <meta name="msapplication-navbutton-color" content="#4285f4">
       <!-- iOS Safari -->
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

   </head>
    <body>
        <div id="wrapper">
            <div id="header">

                <h3>Homepage Of Skyler Reimer</h3>
                <ul id="nav" class="topnav">

                    <li><a href="index.html">About Skyler</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="Education.html">Education</a></li>
                    <li><a href="skills.html">Skills</a></li>
                    <li><a href="experience.html">Work Experience</a></li>
                    <li><a href="projects.html">Projects</a></li>

                </ul>

            </div>

        <div id="content">

            <table class="quicklinks">
                <tr><th>Quick Links</th></tr>
                <tr><td>Resume</td></tr>
                <tr><td>Generic Cover Letter</td></tr>
                <tr><td><a href="https://github.com/skylerreimer">GitHub</a></td></tr>
                <tr><td><a href="https://www.linkedin.com/in/skyler-reimer-b506b2126">Linkedin</a></td></tr>
            </table>

            {{ content }}

        </div>

        <div id="footer">© 2016 Skyler Reimer CC-BY-NC-SA</div>
    </div>
</body>
</html>
